{% extends 'base.html.twig' %}

{% block pageTitle %}Projects{% endblock %}
{% block pageName %}Projects{% endblock %}

{% block pageContent %}
<div>
    <a href="{{ path('mage_project_new') }}" class="btn btn-info btn-sm">
        Add project
    </a>
</div>

<div id="mage-projects" data-url="{{ path('mage_api_projects') }}"></div>
{% endblock %}

{% block javascript %}
<script>
$('[data-action="request-deploy"]').on('click', function(event) {
    $.ajax({
        dataType: 'json',
        url: $(this).data('request-deploy'),
        method: 'POST',
        success: function(response) {
            $.notify({
                icon: 'add_alert',
                message: 'Build requested'
            }, {
                type: 'success',
                timer: 3000,
                placement: { from: 'top', align: 'right' }
            });
        }
    });
});
</script>
<script type="text/babel" src="{{ asset('assets/js/project.js') }}"></script>
{% endblock %}